In [1]:
import geopandas as gpd
import pandas as pd
import os

Import Datasets

In [5]:

# Define the directory where the CSV files are saved
save_directory = "Cleaned_neighborhood_csvs"

# List of filenames to open
filenames = [
    "geocoded_df.csv",
    "neighbourhoods_df_cleaned.csv",
    "parks_df.csv",
    "schools_df.csv",
    "filtered_gdf.csv"
]

# Dictionary to store the DataFrames
dataframes = {}

# Loop through the filenames and read the CSVs into DataFrames
for filename in filenames:
    file_path = os.path.join(save_directory, filename)
    dataframes[filename] = pd.read_csv(file_path)


# Access the loaded DataFrames by filename (example)
geocoded_df = dataframes.get("geocoded_df.csv") # development applications
neighbourhoods_df_profiles = dataframes.get("neighbourhoods_df_cleaned.csv") # geometry shape file
parks_df = dataframes.get("parks_df.csv") # parks data
schools_df = dataframes.get("schools_df.csv") # school data
filtered_gdf = dataframes.get("filtered_gdf.csv") # homeless shelter data
# neighbourhoods_df_pivoted = dataframes.get("pivoted_neighbourhood_profiles.csv") # neighborhood profiles with income
neighbourhoods_df_pivoted = pd.read_csv('pivoted_neighbourhood_profiles.csv')

In [7]:
neighbourhoods_df_pivoted

,Unnamed: 0,0,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,_id,1,3,2099,2101,2109,2081,1343,2102,1054,...,2106,2108,2110,2112,2097,2114,2116,2118,2120,2122
1,Category,Neighbourhood Information,Population,Income,Income,Income,Income,Income,Income,Income,...,Income,Income,Income,Income,Income,Income,Income,Income,Income,Income
2,Topic,Neighbourhood Information,Population and dwellings,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,...,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015,Income of households in 2015
3,Characteristic,Neighbourhood Number,"Population, 2016","$10,000 to $14,999","$100,000 to $124,999","$125,000 to $149,999","$15,000 to $19,999","$150,000 to $199,999","$20,000 to $24,999","$200,000 and over",...,"$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$5,000 to $9,999","$50,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999"
4,City of Toronto,NaN,2731571.0,73630.0,194830.0,126560.0,109955.0,188995.0,99225.0,96600.0,...,100460.0,102660.0,102055.0,98035.0,47070.0,183090.0,162875.0,143310.0,123760.0,105055.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Wychwood,94.0,14349.0,370.0,950.0,680.0,800.0,1165.0,705.0,610.0,...,490.0,515.0,505.0,450.0,245.0,900.0,790.0,695.0,605.0,525.0
141,Yonge-Eglinton,100.0,11817.0,285.0,925.0,670.0,365.0,1565.0,385.0,1110.0,...,420.0,465.0,435.0,420.0,210.0,845.0,790.0,670.0,530.0,485.0
142,Yonge-St.Clair,97.0,12528.0,375.0,1150.0,785.0,440.0,1855.0,480.0,1380.0,...,495.0,545.0,590.0,575.0,245.0,1130.0,920.0,865.0,675.0,630.0
143,York University Heights,27.0,27593.0,690.0,1525.0,845.0,1060.0,765.0,1080.0,195.0,...,1240.0,1215.0,1165.0,1095.0,450.0,2015.0,1715.0,1330.0,1180.0,950.0
144,Yorkdale-Glen Park,31.0,14804.0,240.0,985.0,625.0,445.0,815.0,520.0,325.0,...,590.0,610.0,585.0,515.0,135.0,970.0,815.0,725.0,585.0,505.0